.time {
    text-align: center;
    padding: 34px 0 54px 0;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    font-family: 'Prata', serif;
    padding-bottom: 16px;
}

.time .colaboradores {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 2rem 0;
}